{% extends 'base.html' %}

{% block content %}

<ul>
    <li><a href="{{ url_for('index') }}">Tutorial</a></li>
    <li><a href="{{ url_for('aboutme') }}">About Me</a></li>
    <li><a class="active" href="{{ url_for('contactus') }}">Contact Us</a></li>
    <li style="float:right"><a href="https://chs-map.vercel.app/">Tino Map</a></li>
    <li style="float:right"><a href="https://github.com/pragisharma/chs-tutorial"><img src="{{ url_for('static', filename='gitlogo.png') }}" alt="GitHub" height=30 width=30></a></li>
   </ul>
<hr>
<h1>{% block title %} TinoTorial CONTACT US {% endblock %}</h1>

<p>
    Feel free to contact any of us if you run into any issues, or any of the data is inaccurate. <br>
    <br>
Discord: <br>
<br>
Pragya Sharma: @pragi <br>
Kavya Gupta: @_kavya_<br>
Namita Gaidhani: @namita8218 <br>
<br>
GitHub: https://github.com/pragisharma/chs-tutorial <br>
<br>
Credits: <br>
<br>
CHS Map: https://chs-map.vercel.app/ <br>
credit to Daniel Cui<br>
<br>
Big big credit to our amazing mentor Purva! <br>
</p>
    
{% endblock %}